@import "libs/reset.scss";
@import "libs/mixins.scss";
@import "libs/functions.scss";
@import "libs/responsive.scss";

$amount: 10;
$danger: rgb(170, 16, 16);
$primary: rgb(13, 74, 128);
$padding: 10px;
$base-font-size: 18px;

html {
  font-size: $base-font-size;
}

body {
  background: #70a9b6;
}

.color {
  font-size: 12rem;
  color: $primary;
}

table {
  width: 100%;

  td {
    border: 1px solid red;
  }
  thead {
    background: black;
    color: white;
  }
}

%shadow {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.card {
  @extend %shadow;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 20px;
  position: relative;
  background: #fafafa;
  @include triangle($color: #ff00ff, $size: 13px);
  //   @include rotate(5deg);
  //   @include transform(rotate(-2deg));
  
}

%btn {
  // padding: $padding + 2px 16px;
  padding: em(5) em(12);
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  @if (lightness($primary) > 50%) {
    color: #000;
  } @else {
    color: #c4eaf3;
  }
  
}

.btn {
  @extend %btn;
  background: $primary;

  &:hover {
    background: darken($primary, $amount);
  }
}

.big {
  font-size: 2rem;
  text-transform: uppercase;
}

.btn-danger {
  @extend .btn;
  background: $danger;

  &:hover {
    background: lighten($danger, $amount);
  }
}

.card-action {
  @extend .btn;
}

.card-cancel {
  @extend .btn-danger;
}

@media #{$medium-up} {
  .btn {
    width: 100%;
  }
}
